body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    text-align: center;
    padding-top: 50px;
}

form {
    background-color: white;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}